/* Body itestra*/
.FullFrame {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Left Frames Content Lang to*/
.leftFrame {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.Sidebar {
    margin-left: 10px;
    width: 75%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #e6b5b5;
    background: linear-gradient(184deg,rgb(252, 242, 242) 0%, rgb(197, 136, 136) 58%);    border: 2px solid;
    border-radius: 30px;
    box-shadow: 12px 12px 12px rgba(97, 2, 2, 0.233);
}

.Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    gap: 10px;
}

.Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    gap: 10px;
}

.SidebarButtons {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.SidebarButtons:hover {
    transform: scale(1.4);
    opacity: 0.8;
}


/* Right Frame Contents to */
.rightFrame {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 6;
    padding: 30px;
    gap: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.rightFrame::-webkit-scrollbar {
  display: none;
}

/* Search Bar Part */
.searchBar {
    width: 90%;
    min-height: 60px;
    background-color: #ffffff;
    border: 1px black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.404);
    position: relative;
    overflow: hidden;
}

.SearchIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Profile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 2px solid rgba(252, 175, 232, 0.993);
    border-radius: 50%;
}

.SearchIcon:hover,
.Profile:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.SearchInput {
    width: 92%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}



/* Overview Card Part */
.overViews {
    width: 90%;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
    overflow: visible;
}

.gridOverview {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 80%;
    margin: 10px;
    gap: 20px;
}

.overviewItem {
    width: 300px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.404);
}

.SoloOverview {
    width: 300px;
    height: 360px;
    background: linear-gradient(184deg,rgb(255, 244, 252) 0%, rgb(253, 188, 224) 58%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.404);
}

.Table {
    width: 80%;
    min-height: 700px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.404);
    font-size: 50px;
}

.overviewTitle {
    font-family:'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 1px;
    font-size: 30px;
}